<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/lntqatar</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.initialPoolSize">1</property>
        <property name="hibernate.c3p0.minPoolSize">1</property>
        <property name="hibernate.c3p0.maxPoolSize">10</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.maxIdleTime">10</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.connection.SetBigStringTryClob">true</property>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">create</property> -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
        <!-- <property name="mappingDirectoryLocations">/resources</property> -->
             
        
        <mapping class="com.lntqatar.model.User" />
        <mapping class="com.lntqatar.model.UserSession" />
        <mapping class="com.lntqatar.model.Role" />
        <mapping class="com.lntqatar.model.Privilege" />             
        
    </session-factory>
</hibernate-configuration>